#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#endif

#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

#ifdef _WIN64
// CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "aspera.x64.manifest"
#else
// CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "aspera.x86.manifest"
#endif
